@tailwind base;
@tailwind components;
@tailwind utilities;

.wall {
  background: rgb(44,62,80);
}

.visited {
  background: rgb(6, 123, 240);
}

.enqueued {
  background: rgb(240, 80, 6);
}

.shortest {
  background: rgb(45, 240, 6);
}